.about{
    padding: 5% 0;
    margin-top: 40px;
    .about-me{
        h2{
            color: #fff;
            font-size: 30px;
            text-align: center;
        }

        .about-desc{
            p{
                color: #fff;
                text-align: justify;
                font-size: 18px;
                line-height: 1.5;
                padding: 20px 0;
            }
        }
    }

    .skills{
        margin: 10% 0;
        h2{
            color: #fff;
            font-size: 30px;
            text-align: center;
        }

        .skills-desc{
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;

            .skills-logo{
                width: 150px;
                margin: 7.5px;
            }
        }
    }

    .about-experiences{
        margin: 5% 0;
        h2{
            color: #fff;
            font-size: 30px;
            text-align: center;
        }
        .work-experiences{
            .experiences-box{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 5% 0;
                .company-logo{
                    width: 300px;
                    margin-right: 10px;
                }
                .company-desc{
                    color: #fff;
                    p{
                        font-size: 18px;
                        line-height: 1.7;
                    }
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .about{
        .about-me{
            .about-desc{
                p{
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 795px){
    .about{
        .skills{
            .skills-desc{
                align-items: center;
                justify-content: center;
            }
        }

        .about-experiences{
            h2{
                font-size: 30px;
                text-align: center;
            }
            .work-experiences{
                .experiences-box{
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                  
                    .company-desc{
                        width: 75%;
                        text-align: center;
                        p{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 450px){
    .about{
        h2{
            font-size: 27px;
        }
        padding: 0;
        .skills{
            margin: 10% 0;
            h2{
                font-size: 27px;
            }
        }    
        .about-experiences{
            h2{
                font-size: 27px;
                text-align: center;
            }
            .work-experiences{
                .experiences-box{
                    .company-desc{
                        width: 100%;
                    }
                }
            }
        }
    }
}