*{
    font-family: 'Open Sans, sans-serif'
  }
  
  a{
    text-decoration:none;
  }
  
  html{
    min-height:100%;
    position:relative;
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
  }